<nav>
    <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'sermons' %}">Sermons</a></li>
        <li><a href="{% url 'mission' %}">Mission</a></li>
        <li><a href="{% url 'aboutus' %}">About us</a></li>
        <li><a href="{% url 'branches' %}">Branches</a></li>
        <li><a href="{% url 'events' %}">Events</a></li>
        <li><a href="{% url 'music' %}">Music</a></li>
        <li><a href="{% url 'blog:index' %}">Blog</a></li>
        <li><a href="{% url 'shop' %}">Shop</a></li>
        <li><a href="{% url 'login' %}">Login</a></li>
        <li><a href="{% url 'register' %}">Register</a></li>
        
    </ul>
</nav>